<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Csgo open cases simulator</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./style.css">
</head>
<body>
<!-- partial:index.partial.html -->
<div id="app">
  <div class="header">
      <a @click="acessarLink(link)" v-for="link in links"> <span v-if="link.name == 'Upgrade' && meusItems.length > 0"> {{ link.name }} </span> <span v-else=""> <span v-if="link.name == 'Roleta' || link.name == 'Ganhos'"> {{ link.name }}</span> </a>
  </div>
  <div class="container">
    <!-- <div class="rank" v-bind:style="'backgroundPosition:' + rankX + 'px ' + rankY + 'px'"></div> -->
    <h1 class="saldo"> Seus ganhos ${{ saldo }} </h1>
    <div v-if="linkAtivo.name == 'Roleta'" class="scroll">
    <h1 style="position: relative; z-index: 5000">Roleta</h1>
      <div class="scroller" :style="'transform: translateX(' + scroll + 'px)'">
      <div class="item" v-for="newItem in newItems" :class="newItem.theme">
        <img :src="newItem.image">
      </div>
       </div>
       <div class="open" v-if="!open">
        <button @click="openCases">Open case ${{ casesValue }}</button>
       </div>
    </div>
    
    <div v-if="linkAtivo.name == 'Ganhos' " class="seus" v-if="meusItems.length > 0">
      <h1>Seus items</h1>
      <div v-for="meusItem in meusItems" style="display: inline-block;">
      <div class="item"  :class="meusItem.theme">
        <img :src="meusItem.image">
      </div>
      <div class="options" v-if="meusItems.length > 0">
        <button @click="sellItemUnico(meusItem)">Sell ${{ meusItem.preco }}</button>
      </div>
    </div>
    </div>  
  </div>

  <div v-if="linkAtivo.name == 'Upgrade'" class="upgrade" style="padding: 60px">
    <h1>Upgrade</h1>
    <div class="up">

      <h1 style="position: relative; top: 18vw; left:6vw;">Item pra upgrade</h1>
      <div class="item" @click="openEscolherItemUpgradeMeu" :class="upgradeMyItem.theme">
        <img :src="upgradeMyItem.image">
      </div>


      <h1 style="position: absolute; top: 18vw; left:71vw;">Item que queres ganhar</h1>
      <div class="item other" @click="openEscolherItemUpgrade" :class="itemPraUpgrade.theme">
        <img :src="itemPraUpgrade.image">
      </div>

      <button style="top: 20vw;" v-if="!upgradeMyItem.image == '' && !itemPraUpgrade.image == '' && clicou" @click="upgradeItem">Upgrade</button>
      <button style="top: 20vw;" v-else="">Escolha um item</button>

    </div>
  </div>
  
     <div class="gained" v-if="!tryAgain">
       <div class="ganhou">
      <h1>{{ gainedItem.name }} ${{ gainedItem.preco }}</h1>
       <div class="item" :class="gainedItem.theme">
        <img :src="gainedItem.image">
        </div>
         <button @click="tryAgainOk">Try again</button>
       </div>
    </div>

    <div class="escolher" v-if="closeEscolherItem && meusItems.length > 0">
      <div class="item" v-for="meusItem in meusItems" :class="meusItem.theme" @click="escolherItemPraUpgrade(meusItem)">
        <img :src="meusItem.image">
      </div>
    </div>

    <div class="escolher" v-if="closeEscolherItemUpgrade && !upgradeMyItem.image == ''">
      <div class="item" v-if="item.preco > upgradeMyItem.preco || item.preco == upgradeMyItem.preco" v-for="item in items" :class="item.theme" @click="escolherItemUpgardeTroca(item)">
        <img :src="item.image">
      </div>
    </div>
  
</div>
<!-- partial -->
  <script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.min.js'></script>
<script  src="./script.js"></script>

</body>
</html>
